/*
img {
    width: 1000px;
    height: 100px;
}
header {
    background-color: darkslategray;
    text-align: center;

}
html {
    margin-left: 20px;
    margin-right:20px;
}
.footer{
    text-align: center;
}
*/